body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

h2 {
    color: #007bff;
    font-style: italic;
    animation: fadeIn 1.5s ease-in-out infinite alternate;
}

/* Animación para el mensaje "Actualizando..." */
@keyframes fadeIn {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
